.code-breaker {
    padding: 3rem 10rem;
    min-height: 100vh;

    .header {
        .sub {
            color: var(--accent-color);
            cursor: pointer;
            position: relative;

            &::before{
                content: 'â†';
                position: absolute;
                right: calc(100% + 1rem);
                top: -0.1rem;
                width: 20px;
                height: 20px;
                transition: 0.3s;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    .suggested {
        display: flex;
        margin: 2rem 0;
        border-radius: 1rem;

        .options {
            flex: 0 0 30%;
            border-radius: 1rem;
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            height: min-content;

            .title {
                font-weight: 600;
                font-size: 1rem;
            }

            .dropdowns {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .language, .focus {
                    background-color: rgb(44, 44, 44);
                    border-radius: 0.5rem;
                    
                    select {
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;
                        appearance: none;
                        width: 100%;
                        height: 100%;
                        background-color: inherit;
                        color: inherit;
                        cursor: pointer;

                        option {
                            /* display: none; */
                            appearance: none;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 0.5rem;

                & > * {
                    padding: 0.5rem 1rem;
                    background: none;
                    border-radius: 0.5rem;
                    border: 1px solid white;
                    color: white;
                    cursor: pointer;
                }
                
                .train {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                & > *:hover {
                    background-color: rgb(44, 44, 44);
                    border: 1px solid transparent;
                }
                
            }
        }

        .problem {
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: auto;

            .title {
                flex: 0 0 1rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .rank {
                    font-size: 0.7rem;
                    border: 2px solid;
                    padding: 0.2rem 0.5rem;
                    text-align: center;
                    border-radius: 1rem;
                    font-weight: 500;
                }

                .name {
                    font-weight: 600;
                    font-size: 1.3rem;
                }
            }

            .statement {
                flex: 1;
                overflow: auto;
                font-size: 0.9rem;
                padding: 0.2rem 0;

                &::-webkit-scrollbar {
                    width: 0.5rem;
                    height: 0.5rem;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 5px;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    background: #555; 
                }

                &::-webkit-scrollbar-corner {
                    background: transparent;
                }

                .code {
                    border: 1px solid #c0c0c09d;
                    padding: 2px 4px;
                    border-radius: 3px;
                    font-family: monospace;
                }

                .multi-code {
                    padding: 0.5rem;
                    font-family: monospace;
                    border-radius: 0.5rem;
                    margin-block: 0.5rem;
                    overflow: auto;

                    &::-webkit-scrollbar {
                        width: 0.5rem;
                        height: 0.5rem;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                        border-radius: 5px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }
    
                    &::-webkit-scrollbar-corner {
                        background: transparent;
                    }
                }

                .title {
                    margin-top: 1rem;
                }
            }

            .tags {
                flex: 0 1 0.5rem;   
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .tag {
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    background-color: #c8c8c832;
                    padding: 0.2rem 0.5rem;
                }
            }
        }
    }

    .problems {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .title {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--accent-color);
        }

        table {
            width: 100%;
            display: grid;

            thead {
                border-bottom: 1px solid;
                margin-bottom: 0.5rem;
            }

            tr {
                display: grid;
                grid-template-columns: 1fr 9fr 2fr;
                border-radius: 0.5rem;

                &:nth-child(odd) {
                    background-color: transparent;
                }

                th {
                    cursor: pointer;
                }
    
                td, th {
                    padding: 0.5rem 1rem;
                    text-align: left;
                }

                .problem:hover {
                    color: var(--accent-color);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 70em) {
    .code-breaker {
        padding: 3rem 1rem;
    }
}

@media (max-width: 35em) {
    .code-breaker {

        .suggested {
            flex-direction: column;
            height: auto;
        }
    }
}