.course-page {
    display: flex;
    flex-direction: column;

    .hero {
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: aliceblue;
        color: var(--midtone-dark);
        text-align: center;
        padding: 0 1rem;
        
        .header {
            position: absolute;
            top: 1rem; left: 4rem;

            .back {
                display: flex;
                gap: 1rem;
                align-items: center;
                cursor: pointer;
                padding: 0.5rem;

                & *:not(span) {
                    font-size: 1.3rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .burger-menu {
                display: none;
            }
        }
    }

    .content {
        display: flex;
        padding: 1rem 4rem;

        .chapters {
            transition: 0.2s ease-in;
            display: flex;
            flex-direction: column;
            flex: 0 1 30%;
            padding: 0.5rem;
            border-radius: 1rem;
            overflow: hidden;
            gap: 0.2rem;
            position: relative;
            top: -3.5rem;

            .header {
                display: none;
            }

            a {
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
                font-size: 1.3rem;
                font-weight: 500;
                color: inherit;

                &.active {
                    color: var(--accent-color);
                }

                &:hover {
                    backdrop-filter: brightness(1.2);
                }
            }
        }

        .lessons {
            flex: 1;

            .lessons-outlet {
                padding: 1rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    a {
                        padding: 1.5rem 2rem;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 70em) {
    .course-page {
        min-height: 150vh;
        position: relative;
        overflow: hidden;

        .hero .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            left: 1rem;
            right: 1rem;

            .burger-menu {
                display: block;
                cursor: pointer;
                font-size: 1.5rem;
            }
        }

        .content .chapters {
            position: absolute;
            top: 0; left: 100%;
            border-radius: 0;
            padding-top: 0;
            width: 100%;
            height: 100%;

            &.show {
                left: 0;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 800;
                padding: 0 0 1rem 1.5rem;
                position: relative;
                top: 10px;
                right: 0;
                left: auto;

                .title {
                    color: var(--accent-color);
                }

                .close {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    font-weight: 600;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }

        .content {
            padding: 1rem;

            .lessons .lessons-outlet {
                padding: 1rem;
            }
        }
    }


}