.home {
    display: grid;
    grid-template-columns: 6fr 2fr;
    min-height: 100vh;

    .feed {
        display: flex;
        justify-content: center;

        .news {
            width: min(500px, 90vw);
            padding: 2rem 0;
            display: flex;
            flex-direction: column;

            .create-post {
                display: flex;
                flex-direction: column;
                background-color: var(--base-light);
                overflow: hidden;
                margin-bottom: 2rem;
                padding: 1rem 0.5rem;
                border-radius: 0.5rem;
                box-shadow: 2px 2px 8px var(--shade-light);

                .context {
                    display: grid;
                    grid-template-columns: 2.5rem 1fr;
                    gap: 0.5rem;

                    .display-photo {
                        width: 100%;
                        aspect-ratio: 1;
                        padding: 0.5rem;
                        background-color: var(--mono-light);
                        border-radius: 50%;
                    }

                    textarea {
                        border: none;
                        border-bottom: 1px solid var(--mono-light);
                        width: 100%;
                        margin-right: 0.5rem;
                        padding: 0.5rem 1rem 0.8rem;
                        padding-left: 0;
                        overflow: hidden;
                        resize: none;
                        height: fit-content;
                        outline: none;
                        font-size: 1rem;
                    }
                }

                .attachments {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0.5rem 0;

                    button {
                        background-color: var(--accent-color);
                        border: none;
                        padding: 0.5rem 1rem;
                        border-radius: 1rem;
                        color: white;
                        font-weight: 600;
                        cursor: pointer;

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }

            .no-post {
                text-align: center;
                padding: 5rem;
                font-size: 1.5rem;
                color: var(--primary-color);
                font-weight: 600;
                opacity: 0.5;
            }

            .news-posts {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .right-panel {
    }
}