.post-page {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    padding-bottom: 4rem;

    .post-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;


        & > * {
            width: min(500px, 90vw);
        }

        .divider {
            display: flex;
            justify-content: space-between;
            border-bottom-width: 0.5px;
            border-bottom-style: solid;
            padding: 0.8rem 0.5rem;
            font-size: 0.9rem;

            .replies {
                font-weight: 600;
            }

            .view-activity {
                color: #696969;
            }
        }

        .add-comment {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            padding: 0.5rem;
            padding-bottom: 0;

            textarea {
                padding: 0.5rem 1rem;
                width: 100%;
                overflow: hidden;
                resize: none;
                height: fit-content;
                outline: none;
                font-size: 0.9rem;
                border-radius: 2rem;
                border: inset 1px solid #696969;
                background-color: transparent;
            }

            .attachments {
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem 0;
                align-self: flex-end;

                button {
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 1.7rem;
                    color: var(--accent-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:disabled {
                        opacity: 0.5;
                        cursor: default;
                    }
                }
            }
        }
    }
}

@media (screen) {
    
}