.split {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    .gutter {
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 50%;

        &.gutter-horizontal {
            background-color: inherit;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
            cursor: col-resize;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    .problem-section {
        padding: 1.5rem 0.5rem 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;

        .title, .tabs, .back {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
        }

        .back {
            align-self: flex-start;
            gap: 1rem;
            font-size: 0.9rem;
            cursor: pointer;
            margin-bottom: 0.5rem;

            &:hover {
                color: var(--accent-color);
            }
        }

        .title {
            flex: 0 0 1rem;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 0;

            .rank {
                font-size: 0.7rem;
                border: 2px solid;
                padding: 0.2rem 0.5rem;
                text-align: center;
                border-radius: 1rem;
                font-weight: 500;
            }

            .name {
                font-weight: 600;
                font-size: 1.3rem;
            }
        }

        .tabs {
            gap: 0.5rem;
            font-size: 0.8rem;
            font-weight: 300;
            padding: 1rem 0;

            .tab {
                padding: 0.3rem 1rem;
                border-radius: 0.5rem;
                cursor: pointer;

                &:not(.active) {
                    background-color: transparent;
                }
            }
        }

        .renderer {
            flex: 1;
            overflow: auto;
            border-radius: 0.5rem;

            &::-webkit-scrollbar {
                width: 0.5rem;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 5px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
        
            .problem {
                height: 100%;
                padding: 1rem;
                font-size: 0.9rem;

                .statement {
                    padding: 0.2rem 0 2rem;
                    border-bottom: 1px solid;                    

                    .code {
                        border: 1px solid #c0c0c09d;
                        padding: 2px 4px;
                        border-radius: 3px;
                        font-family: monospace;
                    }
                }

                .tags {
                    padding: 1rem 0;
                    flex: 1 1 0.5rem;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
    
                    .tag {
                        text-transform: uppercase;
                        font-size: 0.6rem;
                        background-color: #c8c8c832;
                        padding: 0.2rem 0.5rem;
                    }
                }
            }

            .output {
                padding: 1rem;
                font-size: 0.9rem;
            }
        }
    }

    .code-section {
        .split-v {
            height: 100%;
            max-height: 100vh;

            .gutter {
                background-color: #eee;
                background-repeat: no-repeat;
                background-position: 50%;
        
                &.gutter-vertical {
                    background-color: inherit;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
                    cursor: row-resize;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }

            .solution, .test-cases {
                padding: 1.5rem 1.5rem 0.5rem 0.5rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;
        
                .options {
                    display: flex;
                    margin-bottom: 0.5rem;
        
                    .language {
                        font-size: 0.9rem;
                        padding: 0.3rem 1rem;
                        border-radius: 0.5rem;
                    }
                }

                .tab {
                    border-radius: 0.5rem 0.5rem 0 0;
                    padding: 0.2rem 0.5rem;
                    font-size: 0.7rem;
                }

                .code-area {
                    height: 100%;
                    border-radius: 0 0 0.5rem 0.5rem;
                    overflow: auto;
                    outline: none !important;
                    background-color: #0d0d0d;

                    & > * {
                        height: 100%;
                    }
                    
                    * {
                        font-family: monospace;
                        font-size: 1rem;
                        text-wrap: wrap ;
                        overflow: visible;
                    }

                    &::-webkit-scrollbar {
                        height: 0.5rem;
                        width: 0.5rem;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                        border-radius: 5px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                    }

                    .cm-editor, .cm-gutters {
                        background-color: inherit;
                    }

                    .cm-foldGutter [title="Fold line"] {
                        position: relative;
                        top: -0.3rem;
                    }
                }
            }

            .test-cases {
                padding: 0.5rem 1.5rem 1.5rem 0.5rem;

                .submission {
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.5rem;
                    margin-top: 0.5rem;

                    button {
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        border: 2px solid var(--accent-color);
                        color: var(--midtone-dark);
                        cursor: pointer;
                    }

                    .run-code {
                        background-color: transparent;

                        &:hover {
                            background-color: var(--accent-color);
                            filter: brightness(1.1);
                        }
                    }

                    .submit {
                        background-color: var(--accent-color);

                        &:hover {
                            filter: brightness(1.1);
                        }
                    }
                }
            }
        }
    }
}
