.typing-test {
    padding: 3rem 10rem;
    min-height: 100vh;

    .header {
        .sub {
            color: var(--accent-color);
            cursor: pointer;
            position: relative;

            &::before{
                content: 'â†';
                position: absolute;
                right: calc(100% + 1rem);
                top: -0.1rem;
                width: 20px;
                height: 20px;
                transition: 0.3s;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }

    .options {
        .timer {
            font-size: 2rem;
            font-family: monospace;
            margin-block: 3rem 0.5rem;
        }
    }

    .typing-area {
        font-family: monospace;
        font-size: 2.5rem;
        line-height: 1.5;
        overflow: hidden;
        max-height: calc(2.5rem * 1.5 * 3);
        margin-bottom: 2rem;
        user-select: none;
        position: relative;

        .hidden {
            position: absolute;
            z-index: -1000;
            opacity: 0;
        }

        .caret {
            display: inline-block;
            width: 3px;
            height: 2.7rem;
            background-color: var(--accent-color);
            position: absolute;
            top: 0.5rem;
            opacity: 1;
            border-radius: 5px;
            animation: blink 1s ease-in-out infinite;
        }

        .char {
            font-family: inherit;
            position: relative;

            &.correct {
                color: var(--accent-color);
            }

            &.incorrect {
                color: var(--error-color);
            }

            &.not-space {
                background-color: var(--error-color);
                border-radius: 0.2rem;
                opacity: 0.4;
            }
        }
    }

    .results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .illustration {
            flex: 0 0 30%;
            aspect-ratio: 1;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .metrics {
            flex: 0 0 60%;

            .title {
                font-weight: 800;
                font-size: 1.2rem;
                color: var(--accent-color);
                padding-bottom: 0.5rem;
            }

            .description {
                font-weight: 400;
                font-size: 1rem;
            }

            .data {
                display: flex;
                margin-top: 3rem;
                gap: 0.2rem;

                & > * {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .value {
                        font-weight: 600;
                        font-size: 2.5rem;
                    }

                    .label {
                        font-weight: 300;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .restart {
        text-align: center;
        font-size: 3.5rem;
        
        svg {
            cursor: pointer;
            padding: 1rem;
            border-radius: 50%;
        }
    }
}

@media (max-width: 50em) {
    .typing-test {
        padding: 2rem;
        overflow: hidden;

        .results {
            .illustration {
                flex: 0 0 50%;
            }

            .metrics {
                flex: 0 0 100%;

                .data {
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-bottom: 3rem;

                    & > * {
                        flex: 0 0 30%;
                    }
                }
            }
        }
    }
}

@keyframes blink {
    50% {
      background-color: transparent;
    }
  }